:root,
html {
--black: #000000;
--backgroundColor: #FFE5B4;
  --primaryColor: #FFC0B4;
  --secondaryColor: #F4FFB4;


  font-family: 'Roboto Mono', monospace;
  background-color: var(--backgroundColor);
}

* {
  margin: 0;
  padding: 0;
}
